@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Cofigurando a section  */
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    background: #fff;
}
/* Configurando a header */
header{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding:20px 100px ;
display: flex;
justify-content: space-between;
align-items: center;
}

/*personalizando imagem da header*/
header .logo{
    position: relative;
    max-width: 80px; ;
}

/* personalizando lista que ira vira especie de menu*/
header ul{
  position: relative; 
  display: flex; 
}
header ul li{
    list-style: none;  
}
header ul li a{
    display:inline-block ;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    padding: 5px;
}
header ul li a:hover{
    background: #017143;
    padding: 5px;
    border-radius: 5px;
    color: white;

}

/*personalizando o conteudo principal*/
.content{
   position: relative;
   width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color:#333 ;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
   color: #017143;
   font-size: 1.2em; 
   font-weight:900 ;
}

.content .textBox p{
   color: #333;  
}

.content .textBox a{
   display:inline-block ;
   margin-top: 20px;
   padding:8px 20px;
   background: #017143;
   color: #fff;
   border-radius: 40px;
   font-weight: 500;
   text-decoration: none;
}
/*personalizando barra lateral com as redes sociais */
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
   list-style:none ; 
}

.sci li a{
    display: inline-block;
    margin:5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
/* criando semicirculo*/
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}

 